body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.stopwatch { text-align: center }
.stopwatch-timer {
  font-size: 76px;
  font-weight: 100;
  line-height: 160px;
  
  margin: 0;
  
  border: solid #cecfd0;
  border-width: 1px 0;
  background-color: white;
}